@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0 10px;
}

.App {
  position: relative;
  width: 100%;
}

h1 {
  text-align: center;
}

/* Utils */
.hidden {
  display: none !important;
}

#custy-logo {
  width: 120px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#app-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#icons-container {
  display: flex;
  position: absolute;
  left: 20px;
  top: 15px;
}

#restore-last-todo {
  color: #ddd;
  cursor: default;
  margin-top: 4px;
  margin-left: 10px;
  transition: all 0.4s ease;
}

.restore-enabled {
  color: #bbb !important;
  cursor: pointer !important;
}

.restore-enabled:hover {
  color: #666 !important;
}

#github-link a {
  color: #bbb;
  transition: all 0.4s ease;
}

#github-link a:hover {
  color: #666;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #88a7b9;
}

#addTodoBtn,
#addBBoardItemBtn {
  margin-bottom: 5px;
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}

#add-todo-form,
#edit-todo-form,
#add-bbitem-form {
  font-size: 18px;
  width: 280px;
  position: absolute;
  top: 110px;
  right: 50%;
  transform: translateX(50%);
  padding: 10px;
  background: #777;
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-todo-form input,
#add-bbitem-form input,
#add-todo-form textarea,
#add-bbitem-form textarea,
#edit-todo-form input,
#edit-todo-form textarea {
  font-size: 18px;
  margin-bottom: 10px;
  width: 90%;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px;
}

#add-todo-form textarea,
#edit-todo-form textarea {
  height: 90px;
}

#customer-service-todo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (max-width: 620px) {
  #customer-service-todo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  }
}

.customer-service-card {
  position: relative;
  height: 150px;
  padding: 15px;
  margin: 5px;
  background: #333;
  color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}

.customer-service-card hr {
  position: absolute;
  top: 30px;
  margin-bottom: 10px;
}

.customer-service-card p {
  margin-top: 70px;
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.customer-service-card-order-number {
  position: absolute;
  top: 40px;
}

.customer-service-card-order-date {
  position: absolute;
  top: 65px;
}

.urgent-undo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 15px;
  margin: 5px;
  animation: undoDisolve 2s;
}

@keyframes undoDisolve {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.undo-btn {
  width: 100%;
  height: 100%;
}

.csc-options {
  position: absolute;
  top: 5px;
  width: 90%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.csc-options span {
  cursor: pointer;
}

.urgent {
  background: #7e0000;
}

.waiting {
  background: #441f44;
}

/* Bulletin Board */
#bulletin-board {
  font-weight: bold;
  margin: 0 5px;
  height: 40px;
  background-color: rgb(247, 236, 189);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}

.bboard-item-container {
  display: flex;
  align-items: center;
}

.bulletin-board-item {
  margin: 0 5px;
  cursor: pointer;
}

.bulletin-board-spacer {
  margin-top: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  user-select: none;
}

.bboard-item-contents-container {
  position: absolute;
  width: 400px;
  top: -120px;
  right: 50%;
  height: 500px;
  transform: translate(50%, 50%);
  padding: 10px;
  background: #777;
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.bboard-item-contents-container button {
  margin-top: 10px;
}
